@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
}

.navbar{
	padding: 2rem 0;
}

.navbar-brand {
	font-family: 'Inconsolata', serif;
	font-size: 30px;
	letter-spacing: 5px;
	color: #000;
	text-transform: uppercase;
}

.nav-link {
	font-family: 'Playfair Display', serif;
	font-size: 15px;
	color: #626262;
	padding: 0;
}

a:hover {
	color:#000;
}

.nav-item {
	padding-left: 50px;	
}

.banner {
	margin-top: 2rem;
	margin-bottom: 90px;
}

.tag {
	font-family: 'Ubuntu', serif;
	font-size: 14px;
}
.section {
	width: 80%;
}
.section-2 {
	margin-top: 110px;
}
h2 {
	font-size: 30px;
	margin-bottom: 40px;
}
.content {
	font-size: 14px;
	margin-bottom: 50px;
}
.sign-up {
	background-color: #f0f0f0;
	padding-top: 50px;
	padding-bottom: 46px;
}
.email {
	width: 28%;
}

.txtEmail, .button {
	border: none;
	background-color: #f0f0f0;
	border-radius: 0;
	border-bottom: 1px solid #000;
}
.button:hover {
	background-color: #f0f0f0;
	border-bottom: 1px solid #000;
}
.button-2 {
	margin-top: 160px;
}
.button-wrap {
	margin-top: 120px;
}
.footer {
	background-color: #f0f0f0;
	padding: 30px 0;
	margin-top: 500px;
}
.nav-item {
	padding: 0;
	padding-right: 30px;
}
.nav-footer {
	padding: 0;
}
/*---Media Query---*/
@media (max-width: 1200px) {
	.email {
		width: 40%;
	}
}
@media (max-width: 992px) {
	.email {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.navbar{
		padding: 1rem 1rem;
	}
	.nav-item {
		padding-left: 20px;	
	}
	h2 {
		font-size: 25px;
	}
	.section {
		width: 80%;
	}
	.email {
		width: 80%;
	}
	.justify-content-end {
		justify-content: center!important;
		margin-top: 30px;
	}
}
@media (max-width: 576px) {
	
}
